/* header */
.nowTime {
  text-align: center;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  color: white;
  background-color: #14213d;
  padding: 10px 0px 10px 0px;
  top: 0;
  font-size: 18px;
  border-radius: 5px;
}

.Title {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
}

.mainTitle {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.mainTitle > a {
  color: white;
}

.subTitle {
  margin-bottom: 5px;
}

/* main */
.container {
  width: 90%;
  margin: 0 auto;
}
/* side bar */
.side-bar-open-btn {
  font-size: 35px;
  background-color: antiquewhite;
  border-radius: 5px;
  position: fixed;
  top: 0;
}

.side-bar-close-btn {
  font-size: 35px;
  margin-left: 92%;
}

.side-bar-contents {
  height: 1000px;
  width: 600px;
  background-color: white;
  z-index: 1212;
  position: fixed;
  top: 0;
  left: -600px;
  transition: .5s;
}

.dropdown {
  color: black;
  margin-left: 20px;
  margin-bottom: 20px;
  overflow: auto;
}

.dropdown-name {
  font-size: 25px;
  margin-bottom: 10px;
}

.dropdown-contents {
  margin-left: 40px;
  font-size: 18px;
  display: none;
}

.dropdown-contents > a > li {
  margin-bottom: 15px;
}

/* main contents */
.main-contents {
  font-size: 20px;
  width: 65%;
  text-align: center;
  float: left;
  border: 2px solid white;
  padding: 10px 0px 10px 0px;
  margin-left: 2.5%;
  margin-bottom: 40px;
  border-radius: 20px;
}

/* note pad */
.note-pad {
  width: 25%;
  font-size: 20px;
  text-align: center;
  float: right;
  border: 2px solid white;
  padding: 10px 0px 10px 0px;
  margin-right: 2.5%;
  border-radius: 20px;
}

/* load contents */
.load-contents {
  font-size: 20px;
  width: 65%;
  text-align: center;
  float: left;
  border: 2px solid white;
  padding: 10px 0px 10px 0px;
  margin-left: 2.5%;
  border-radius: 20px;
}