/* main contents */
.main-contents {
  font-size: 20px;
  width: 65%;
  float: left;
  border: 2px solid white;
  padding: 10px 0px 10px 0px;
  margin-left: 2.5%;
  margin-bottom: 40px;
  border-radius: 20px;
  padding-bottom: 30px;
}

.caution > p {
  margin-bottom: 15px;
}

.highTitle {
  text-align: center;
  margin: 10px auto 40px auto;
  font-size: 30px;
  border-bottom: 1px solid white;
  width: 20%;
}
