/* note pad */
.note-pad {
  width: 25%;
  font-size: 20px;
  text-align: center;
  float: right;
  border: 2px solid white;
  padding: 10px 0px 10px 0px;
  margin-right: 2.5%;
  border-radius: 20px;
  padding-bottom: 30px;
}

.note-pad-Title {
  text-align: center;
  margin: 10px auto 40px auto;
  border-bottom: 1px solid white;
  width: 40%;
  font-size: 30px;
}