/* side bar */
.side-bar-open-btn {
  font-size: 35px;
  background-color: antiquewhite;
  border-radius: 5px;
  position: fixed;
  top: 0;
}

.side-bar-close-btn {
  font-size: 35px;
  margin-left: 92%;
}

.side-bar-contents {
  height: 1000px;
  width: 600px;
  background-color: white;
  z-index: 1212;
  position: fixed;
  top: 0;
  left: -600px;
  transition: .5s;
}

.dropdown {
  color: black;
  margin-left: 20px;
  margin-bottom: 20px;
  overflow: auto;
}

.dropdown-name {
  font-size: 25px;
  margin-bottom: 10px;
}

.dropdown-contents {
  margin-left: 40px;
  font-size: 18px;
  display: none;
}

.dropdown-contents > a > li {
  margin-bottom: 15px;
}

.dropdown-contents > a {
  color: black;
}
