/* 폰트 */
@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html,
body,
p,
div,
header,
main,
nav,
article,
aside,
footer,
section,
button,
a {
  margin: 0;
  padding: 0;
  font-family: 'SUIT-Medium';
}

a {
  color: black;
  text-decoration: none;
}

button {
  background-color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
}

.nowTime {
  text-align: center;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  color: white;
  background-color: black;
  padding: 5px 0px 5px 0px;
  top: 0;
}

header {
  text-align: center;
  border-bottom: 2px solid black;
}

header > .mainTitle {
  font-size: 60px;
  margin: 50px 0px 10px 0px;
}

header > .sub > .subTitle {
  font-size: 20px;
  margin: 0px 20px 0px 0px;
}

header > .sub >.ssubTitle {
  font-size: 20px;
}

header > .sub {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#wrapper {
  height: auto;
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}

main > nav {
  position: absolute;
}

main > nav > button > .sideBarBtn {
  font-size: 30px;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: black;
  color: white;
  z-index: 1212;
  padding: 5px 11px 5px 11px;
  border-radius: 23px;
}

main > article {
  width: 69%;
  float: left;
  margin: 20px 0px 0px 10px;
  border: 1px solid black;
  border-radius: 20px;
}

main > article > .mainCon {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 8px;
}

main > aside {
  width: 29%;
  right: 0;
  margin: 20px 10px 50px 980px;
  border: 1px solid black;
  position: fixed;
  border-radius: 20px;
}

main > aside > .sidepannel {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 8px;
}

main > .loadPage {
  width: 69%;
  border: 1px solid black;
  float: left;
  text-align: center;
  margin: 20px 0px 50px 10px;
  border-radius: 20px;
}

main > .loadPage > .contents {
  margin-bottom: 8px;
  margin-top: 8px;
}